@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Cormorant:wght@700&display=swap');
body {
    font-size: 12pt;
    font-family: 'Agbalumo', sans-serif;
}

h1 {
    font-family: 'Agbalumo';
    font-size: 36pt;
}
 footer, nav ul {
    max-width: 40rem;
    margin: 0 auto 0 auto;
}


/* nav ul li {
    display: inline-block;
    background-color: grey;
    padding: 1em;
    margin: 1em;
} */

header {
    background-size: cover;
    overflow: hidden;
    height: 300px;
    margin: 50px 20px 50px 20px;
}

header img {
    height: auto;
    width: 100%;
    opacity: 0.5;
    object-fit: cover;
    object-position: 50% -200px;
}


header h1 {
    margin: 0 auto;
    text-align: center;
    position: absolute;
    margin-top: -700px;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 9.25em);
    gap: 1em;
    padding: 0;
}

nav li {
    display: block;
    background-color: grey;
    padding: 1em;
}

.Very-good {
    color: green;
}

.Master {
    color: green;
    font-weight: bold;
}

.allergier {
   margin-left: 0px;
   font-weight: bold;
   border: none;
}


#burgare-info {
    background-color: mistyrose;
    color: black;
}

button:hover {
   color: green;
}

section {
    margin: 50px 20px 50px 20px;
    border: 5px solid pink;

}

button {
    margin-left: 20px;
    margin-top: -35px;
}

div {
    padding: 20px 20px ;
    margin: 10px 80px 10px 80px;
}

.wrapper {
    margin-left: -10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 450px 450px 450px;
}


div img{
    height: 250px;
    width: 220px;
}
